@import '~office-ui-fabric-react/dist/sass/References.scss';

//Copied to chartsPage.module.scss so it can be more stand alone.

.infoPane {

    .xxxx {
        color:red;
    }

    .listProvTextField1 {
        padding-bottom: 15px;
        //display: table-cell;
        //width: 100%;
    
        label {
          font-weight: bold;
        }
    
        //input {
          //@extend .highlightBlink2;
          //height: 32px;
          //min-width: 80px;
          //padding-bottom: 15px;
        //}
    }



}