@import '~office-ui-fabric-react/dist/sass/References.scss';

//Copied to chartsPage.module.scss so it can be more stand alone.

@import '~office-ui-fabric-react/dist/sass/References.scss';

//Copied to chartsPage.module.scss so it can be more stand alone.

.drillDown {

      //  This affects all the commandButtons
      .refiners *[type="button"]  {
        //width: 200px;
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;

      }

      .refiners *[type="button"] :hover {
        background-color: lightgray;
        transition:all 0.4s ease;
      }

      //  This affects all the commandButtons
      .refiners *[class="ms-OverflowSet-item"]  {
        //width: 200px;
        background: transparent;
        border-collapse: collapse;
        /* Does not work
        *[class="is-checked"]  {
          //width: 200px;
          background-color: green;
  
          .msButtonLabel {
            font-weight: 700;
          }
  
        } */
      }

      //  This affects all the commandButtons

      .refiners [class*="is-checked"]  {
        /* Does not work
        //width: 200px;
        background-color: green;

        .msButtonLabel {
          font-weight: 700;
        }

      }
      */
            /* Does not work
      .refiners *[class="is-checked"]  {
        /* This did not work
          :global {
            @include is-checked;
          }          */
          background-color: green;

      } /**/
      
      .button {
        /*
        // Our button
        text-decoration: none;
        height: 32px;

        // Primary Button
        min-width: 80px;
        background-color: $ms-color-themePrimary;
        border-color: $ms-color-themePrimary;
        color: $ms-color-white;

        // Basic Button
        outline: transparent;
        position: relative;
        font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: $ms-font-size-m;
        font-weight: $ms-font-weight-regular;
        border-width: 0;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        padding: 0 16px;
        */
        .label {
          /*
          font-weight: $ms-font-weight-semibold;
          font-size: $ms-font-size-m;
          height: 32px;
          line-height: 32px;
          */
          margin: 0 0px;
          /*
          vertical-align: top;
          display: inline-block;
          */
        }
      }


}